*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .4s;
}

h1{
    margin: 30px;
    padding: 15px;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #000;
    color: #fff;
    text-align: center;
}

.contents{
    margin: 15px;
    padding: 5px;
    border-radius: 4px;
}

.contents:nth-child(1){
    background-color: steelblue;
    filter: blur(1px);
}

.contents:nth-child(2){
    background-color: slategrey;
    opacity: .8;
}

.contents:nth-child(3){
    background-color: brown;
    filter: opacity(.8);
}

.boton{
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    background-color: steelblue;
    right: 50px;
}

.next{
    position: absolute;
    width: 100px;
    text-align: center;
    padding: 10px 0px;
}

.boton:hover{
    background-color: navy;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #000;
}