*{
    transition: .4s;
}

header{
    margin: 30px;
    padding: 15px;
    background-color: steelblue;
    border-radius: 5px;
    color: #fff;
}

.titulo{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.boton{
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: steelblue;
    border-radius: 4px;
    right: 50px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.next{
    position: absolute;
    width: 100px;
    text-align: center;
    padding: 10px 0px;

}

.next:hover{
    background-color: navy;
    border-radius: 4px;
    cursor: pointer;
}